{% block body %}
    <div id="add">
    <div class="adverts img-wrap">
       <img src="{{ asset('img/adverts/1.jpg') }}" alt="" class="img-responsive image">
        <div class="middle">
            <a href="{{ path('package_form') }}">
                <div class="text">Explore Now</div>
            </a>
        </div>
    </div>
    <div class="adverts img-wrap">
        <img src="{{ asset('img/adverts/2.jpg') }}" alt="" class="img-responsive image">
        <div class="middle">
            <a href="{{ path('package_form') }}"><div class="text">Explore Now</div></a>
        </div>
    </div>
    </div>
{% endblock %}
