{% block body %}

    <div class="adverts">
        <img src="{{ asset('img/adverts/1.jpg') }}" alt="">
    </div>
    <div class="adverts">
        <img src="{{ asset('img/adverts/2.jpg') }}" alt="">
    </div>


{% endblock %}
