{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <div id="about">
            <h2 class="lined-heading"><span>About Sikkim Rooms</span></h2>
            <p>
                <strong>SIKKIM ROOMS</strong> is created by the team behind Decorum LLP, an organization tasked with scouring the globe in search
                of the ultimate hotels and hospitality experiences. We’ve combined first-hand knowledge of five-star hospitality
                to a home stay service in a small village to create a groud-breaking guide to Sikkim’s most wonderful hotels and
                hospitality experiences.
            </p>
        </div>
    </div>
{% endblock %}
