{% extends 'base.html.twig' %}
{% block title %}Taxi on hire | Sikkim Rooms{% endblock %}
{% block body %}
    <div class="col-lg-12">
        <div id="page_wrap">
            <h2>Sikkim</h2>
            <p>
                Sikkim, a tiny state nestled in the laps of the Eastern Himalayas, with an area of 7,096 sq. km and
                population of around six lakhs. This gentle, green state in the northeast shares its boundaries with
                Nepal, Bhutan and China; hence strategically it holds immense importance. The term Sikkim is derived
                from the word Sukhim meaning “New House” or “Palace”.<br>
                Sikkim today presents an exciting and easily accessible destination that beckons with its tranquil
                monasteries, friendly people, fascinating nature, culture, traditions and a delectable cuisine. Trek the
                mountain peaks and enjoy the sunrise of the mighty Kanchenjunga. Understand the diverse yet rich
                culture. Tourists and scholars alike create a great demand for information of this area. The pristine
                and unspoiled natural beauty includes virgin glaciers, alpine landscape, thick luxuriant tropical
                forests, Torrent Rivers, high mountain peaks of the great Himalayan range, peaceful lakes, picturesque
                waterfalls, hot springs, myriad of flowers and birds - a true “Shangri-La”. </p>
            <p>A little history…<br>
                Sikkim was once an independent Kingdom ruled by the Chogyals (Kings) until 1975 when it became the 22nd
                state of the Indian Union. The history of the Sikkimese Chogyals dates back to the 17th century when
                three holy men gathered at Yuksum to choose the first Chogyal, “Chogyal Phuntsok Namgyal”. During those
                days the Chogyals were both the law and religion. The Chogyals ruled Sikkim for almost 300 years
                .Chogyal Palden Thondup Namgyal was the last monarch of the Kingdom of Sikkim.</p><br>
            <h4>GENERAL INFORMATION</h4>
            <p>
                Area: 7,096 sq. km <br>
                Population: 6.1 lakhs (2011) <br>
                Density: 76 per/sq. km <br>
                Districts: 4 <br>
                Sub Divisions: 16 <br>
                Towns: 9 <br>
                Temperature: Summer-max.21°c, min.13°c <br>
                Winter - max.13°c, min 05°c <br>
                Annual Rainfall: 3,894mm <br>
                Clothing needed: Summer-light woollens, winter-heavy woollens <br>
                The climate of Sikkim ranges from tropical to alpine. The altitude ranges from almost sea level to
                28,208 ft. (8598). <br>
                Road Network <br>
                National Highway : 138.78 km State highway : 39.93 km <br>
                Major Dist. Roads : 754.77 km Other Dist. Road : 1085.75 km <br>
                Bridle Roads : 236 km <br>
                Total : 2255.23 km<br>
                Airport: Bagdogra (120 km)</p><br>
            <h4>ENTRY FORMALITIES FOR FOREIGNERS</h4>
            <p>
                Foreigners must obtain Restricted Area Permit (RAP) from Sikkim Tourism Offices at Delhi, Kolkata,
                Siliguri, Rangpo and Melli on the strength of a valid Indian Visa. <br>
                The total permissible duration of stay for the foreign tourist is 60 days. Initially, 30 days duration
                permit is issued on production of photocopies of the passport and visa details, along with two passport
                photos. Permit can be obtained from foreigners Registration Office at Gangtok and the Office of the
                Superintendent of Police in the North, West and South Districts. <br>
                For trekking in the interior region of the state, The Tourism &amp; Civil Aviation Department issues
                Protected Area Permit (PAP) at Gangtok, which is available for groups consisting of two or more
                foreigners, subject to the condition that the trekking programme is arranged through a registered travel
                agency. </p><br>
            <h4>TRANSPORT AND COMMUNICATION</h4>
            <p>
                The nearest airport to Sikkim is the Bagdogra Airport, which is located about 16 km from the city of
                Siliguri, West Bengal. It is the gateway airport to Sikkim and regions of Darjeeling District. <br>
                Another mode of transport is the railways. The Railway station at New Jalpaiguri serves as an important
                link between Sikkim and other places in India. Railway booking facilities are also provided at the
                Sikkim Nationalized Transport (SNT) Bus Terminus, Gangtok and at the Tourist Information Centre, Namchi.
                <br>
                Sikkim Nationalized Transport (SNT) also provides regular bus service from Gangtok to Kalimpong,
                Siliguri and to other places within the state. Private taxis and buses are also available between
                Gangtok, Kalimpong, Siliguri and Darjeeling. <br>
                The journey to Sikkim allows one to witness the changing landscape as the roads meander uphill with the
                Teesta River streamlining the path. The route takes about three to four hours. <br>
                The Sikkim Tourism Development Corporation (STDC) also provides helicopter service from Bagdogra to
                Gangtok. Bookings and details can be found at www.sikkimstdc.com</p><br>
            <h3>PLACES OF TOURIST INTEREST (EAST SIKKIM)</h3>
            <br>
            <p>
                <h4>ENCHEY MONASTERY </h4>
                An important seat of the Nyingmapa order, the Enchey Monastery is built on the site blessed by Lama
                Druptok Korpo,a tantric master known for his power of flying. This 106 year old Monastery has in its
                premises images of gods, goddesses and other religious objects. Every year a religious dance, CHAAM is
                performed with great fanfare for two days. The Enchey Monastery 3 kms from Gangtok. <br>
            </p>
            <p class="clearfix"></p><hr>

            <p>
            <h4>FLOWER SHOW COMPLEX </h4>
                Flower exhibitions are organized throught the year. The Orchid show held during the spring season is one
                of the most popular flower shows organized in the state. </p>
            <p class="clearfix"></p>
            <hr>
            <p>
                <h4>DIRECTORATE OF HANDLOOMS AND HANDICRAFTS </h4>
                Instituted with the aim of promoting and keeping alive the State’s traditional art &amp; craft, the DHH
                is a store house of hand- woven woollen carpets, with traditional motifs, blankets, shawls and
                exquisitely carved ‘Choktse’ or table and many other gift items. Tourists can pick souvenirs of the
                state from here. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>DO-DRUL CHORTEN</h4>
                The Do-Drul Chorten or Stupa was built by the Venerable Trulshi Rinpoche, head of the Nyigma order of
                Tibetan Buddhism in 1945.Inside the Stupa, there are complete mandala set of Dorjee Phurba (Vajra
                Kilaya), a set of Kinga Gure relic (Holy Book),complete ‘Zung’(mantras)and other religious objects.
                Around the Chorten, there are 108 Mani Lakhor (prayer wheels).It is surrounded by Chorten Lakhang and
                Guru Lakhang, where there are two huge statues of Guru Padmasambhava.<br>
                NAMGYAL INSTITUTE OF TIBETOLOGY (NTT) <br>
                The most prestigious of its kind in India, this Buddhist institute is a treasure of vast collection of
                rare Lepcha, Tibetan and Sanskrit manuscripts, statues are rare ‘Thankas’ (tapestries used in Buddhist
                liturgy). It has over 200 Buddhist icons and other prized objects of art today. It is a renowned
                worldwide centre for study of Buddhist philosophy and religion. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>GANGTOK ROPEWAY</h4>
                One can enjoy the panoramic view and thrilling rise as the Cable car goes over the hills and meadows. It
                takes the passengers 7 minutes to travel the 1 km ride. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>RUMTEK DHARMA CHAKRA CENTRE</h4>
                About 45 minutes drive from Gangtok, 24 kms away, is the Rumtek Dharma Chakra Centre, the seat at the
                Kagyud order, one of the four major Tibetan Buddhist sects. Since the 1960s,after the arrival of his
                Holiness the XVII Gyalwa Karmapa, the centre houses some of the World’s most unique religious scriptures
                and rare objects. Traditional in design, it is almost a replica of the original Kagyud headquarter in
                Tibet. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>BANJHAKRI FALLS</h4>
                Located en-route to Ranka and 4 km from Gangtok, Ban Jhakri Falls Energy Park lies amidst a lush green
                valley spread over 2 acres. It’s surrounded by trees and gushing mountains. The park has a Shamanistic
                theme. The park spreads towards the forest and seeks to enhance the essence of the occult and the
                unknown. The place itself is decorated with ethnic sculptures and figures of the Jhakri culture.<br>
                TASHI VIEW POINT (6100 ft.) <br>
                Situated along the North Sikkim Highway, it is only 8 km from Gangtok. From this point one gets a breath
                taking view of Mt. Khangchendzonga and Mt. Siniolchu, one of the most graceful peaks in the world. There
                is an Observatory Tower and a Cafeteria. Ideal time to visit is early morning on a sunny day. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>PALZURMANG KAGYUNG MONASTERY (LINGDUM) </h4>
                Zurmang Kagyud Monastery, located at Lingdum, East Sikkim is at a distance of about 20 km from Gangtok.
                The present Gharwang Rimpoche is the 12th successive incarnation of the glorious emanation of Zurmang
                Gharwang. A place worth visiting for its religious and exquisite architecture and serene atmosphere.
            </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>GANESH TOK (6100 ft.) </h4>
                It is situated on the ridge at a distance of 7kms from Gangtok. From this spot one can get a bird’s eye
                view of the sprawling Gangtok town, and across the hills Mt. Khang-che-dzonga and Mt. Siniolchu looms
                over horizon. It has a Cafeteria as well. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>HANUMAN TOK (7000 ft.) </h4>
                It is 11 km from Gangtok town, above Ganesh Tok. It has a temple of Lord Hanuman where the devotees come
                in large numbers to offer prayers. Because of its advantageous location, the view of the mountain along
                the horizon is magnificent especially on a clear sunny morning. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>HIMALAYAN ZOOLOGICAL PARK </h4>
                8 km away from Gangtok is the Himalayan Zoological Park, which covers an area of 205 hectares. This is
                also known as Bulbulay. One can spot Himalayan animals such as Red Panda, Snow Leopard, Spotted Deer,
                Bears and many other Birds and Animals in a semi-natural habitat. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>GONJANG MONASTERY </h4>
                Gonjang Monastery near Tashi View Point was established in the year 1981. The founder is H.E. Tingkye
                Gonjang Rimpoche. He was recognized as an incarnation of Yolmo Terton Ngakchang Shakya Zangpo, a 15th
                century Nyingmapa Terton. The Monastery follows Jangetr tradition of Nyingmapa school of Tibetan
                Buddhism.<br>

            <p class="clearfix"></p>
            <hr>
            <h4>BAKTHANG WATERFALLS </h4>
                20 minutes drive from Gangtok is the Bakthang Waterfalls along the highway leading to North Sikkim. It
                originates from Ratey Chu, the main water source of Gangtok area. The cascading crystal clear water
                gives a feeling of freshness and relaxation. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>SA-NGOR MONASTERY </h4>
                It is a Tibetan Refugee Monastic Institution established in 1961 by His Eminence Luding Khen Rimpoche.
                Head of Ngorpa, sub-sect of the Sakya Order, with the blessings of HH Sakya Trizin and HH the 14th Dalai
                Lama. This is the only Monastery of the Sakya Order of Tibetan Buddhism in Sikkim. It is located on a
                beautiful hilltop at a distance of 5 km from Gangtok town.<br>
            </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>TSOMGO LAKE </h4>
                It’s literally means the “Source of the Lake” and is located at a distance of 38 kms form Gangtok. This
                serene lake is situated at an altitude of 12400 ft. The Lake is about 1km long, oval in shape, 15 meters
                deep and is considered sacred by the local people. This placid lake remains frozen during the winter
                months. Varieties of flowers like Rhododendrons, Primulas, Blue and Yellow Poppies, Irish sway magically
                in the cool breeze. It is also an ideal habitat of the Red Panda and other Himalayan Birds. It is open
                for both the Foreigners and Indians. Foreign visitors are allowed in a group of two or more with a
                permit obtained through Travel Agents registered with the Department of Tourism, Government of
                Sikkim.<br>

            <p class="clearfix"></p>
            <hr>
            <h4>BABA HARBHAJAN SINGH MEMORIAL TEMPLE </h4>
                Built in the memory of Harbhajan Singh, a sepoy in the 23rd Punjab Regiment, the temple lies between the
                Nathu-La and the Jelep-La Pass. Legend has it that he appeared in a dream a few days after he went
                missing while patrolling the border, and expressed a desire that a monument be built in his memory. His
                fellow soldiers then built a monument, that has over the years acquired the status of a pilgrimage
                centre. Devotees leave a bottle of water to be collected a week later. It is believed to have healing
                powers. </p>
            <p> <h4>NATHU-LA </h4>
                56 km from Gangtok in Nathu-la (Pass) at an altitude of 14,450 ft. at the border of India and China. It
                has one of the highest motorable roads and is richly covered with varieties of alpine flora and fauna. A
                tranquil place to visit, Nathula is open only for Indian Nationals on Wednesdays to Sundays. The
                visitors require procuring permit from the Tourism Department through a Travel Agent registered with the
                Department of Tourism, Government of Sikkim. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>ZULUK </h4>
                At 12,000 ft., Zuluk is one of the paths of the legendary Old Silk Route. Today Zuluk is as beautiful as
                the time when traders passed by carrying silk and materials of trade. The panoramic view of sunrise,
                sunset, the surrounding lakes and mountains make Zuluk a ‘must- stop’ point. It also offers the
                alternate route to Nathula- la and the Tsomgo Lake. Homestay facilities are also available for those who
                wish to spend a night at this historical spot. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>KANCHENDZONGA TOURIST COMPLEX, RANKA (KTC) </h4>
                The Kanchendzonga Tourist Complex at Ranka is about 15 km from Gangtok. It is a Tourist cum
                Socio-Cultural Amusement Park. Spread over 16 acres of land, the complex comprises of 24 tourist
                accommodations of traditional Sikkimese architecture, Villa club with bars, restaurant, indoor swimming
                pool, multi-gym, open air theatre, children’s park, food court, exhibition halls with arts at display.
                It also has an amusement park with rides, simulators, musical fountain, water chute, closed circuit TVs,
                laser cum video shows on water screens, rain forest café, etc. Details and booking of the villa can be
                found at www.ktcranka.com<br>

            <p class="clearfix"></p>
            <hr>
            <h4>ARITAR </h4>
                The Aritar Lake (Ghati-Tso) near Rhenock, about 3 hours drive from Gangtok is worth visiting. For those
                interested in spending a night or two in a peaceful environment, can make use of the trekker’s huts,
                Lodges and Resorts, which are open throughout the season. Activities like Boating, Short treks and hikes
                are the main attractions. One can also visit the Lingsay Monastery and a Mangkhim (Temple of the Rai
                Community). Tourists can also spend a night in an old Bunglow built in 1895 located half km. below the
                Lampokhari Lake could be an enthralling experience. </p>

            <p class="clearfix"></p>
            <hr>
            <h3>PLACES OF TOURIST INTEREST (WEST SIKKIM)</h3>
            <p>
            <h4>PEMAYANGTSE MONASTERY </h4>
                It is one of the oldest monasteries of the State. It was originally established by Lhatsun Chempo, one
                of the three revered Lamas to have performed the consecration ceremony of the first Chogyal (King) of
                Sikkim. This ancient monastery belongs to the Nyingma Sect and is considered as one of the premier
                monasteries in the State. It was entrusted with the task to perform all religious functions of the
                erstwhile monarch. <br>
                Originally, it was established as a high-class monastery for “Pure Monks” (Ta-sang). Inside the
                monastery there is a wooden structure depicting the “Maha Guru’s heavenly place” (Sang-tok-palri), which
                is considered a masterpiece created by Late Dungzin Rimpoche. The monastery is located on a hilltop at
                an altitude of 6300 ft. It provides a majestic view of the Himalayan ranges, the surrounding hills and
                the countryside. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>PELLING </h4>
                Pelling is about 133 kms away from Siliguri and 125 kms from Gangtok. It is well connected by buses and
                jeep services. Situated at an altitude of 6800 ft. it includes the mountains namely Koktang,
                Kumbhakarna, Rathong, Kabru, Dom, Khangchendzonga, Pandium, Jopuno, Simvo, Narsing, Siniolchu and
                others. Pelling is an ideal get away for tourists who enjoy soft trek routes, villages and soothing
                atmosphere.</p>

            <p class="clearfix"></p>
            <hr>
            <p>
            <h4>RABDENTSE PALACE RUINS </h4>
                This was the second capital of the erstwhile Kingdom after Yuksom and till the year 1814 A.D. The King
                of Sikkim ruled from this place. The palace ruins have been reconstructed for visitors so that they can
                have a memorable experience. The scenic view from the top of the ruins, scanning across the valley to
                the mystic heights of Khang-che-dzonga range is something to be cherished and etched in one’s memory.
                </p>

            <p class="clearfix"></p>
            <hr>
            <p>
            <h4>SANGA CHOLING MONASTERY </h4>
                This monastery is situated on a ridge above Pelling facing the Pemayangtse Monastery. Built in 1697 A.D.
                It is considered to be one of the oldest monasteries of the State</p>

            <p class="clearfix"></p>
            <hr>
            <p>
            <h4>KHECHEOPALRI LAKE </h4>
                Situated at a distance of 25km kms from Pelling, it is considered to be one of the sacred lakes of the
                State both by the Buddhist and the Hindus. <br>
                The Lake remains hidden under the rich forest cover. There is motorable road from Pemayangtse right up
                to the Lake area. For those interested in spending a night or two in the peaceful environment, a
                trekker’s hut is available. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>KHANG-CHEN-DZONGA WATERFALLS </h4>
                After an hour and a half drive from Pelling, one comes across Khanchendzonga Twin waterfalls known for
                its breathtaking beauty and grandeur. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>YUKSOM </h4>
                Yuksom was the first capital of Sikkim, where the first Chogyal of the Kingdom of Sikkim was consecrated
                in 1642 A.D. by three learned lamas. The evidence of the consecration ceremony is still intact at
                Norbugang Chorten in the form of stone seats and a footprint of the Head Lama on a stone. Since this is
                where the history of the state began, the people of Sikkim now consider these areas sacred. Yuksom is
                connected by road from Pemayangtse, a distance of about 40 kms. The trek to Dzongri and to the base camp
                of the famous Mt. Khang-chen-dzonga begins here. Several categories of accommodations are available at
                Yuksom for those desiring to spend a few days in a quiet and serene surrounding.</p>

            <p class="clearfix"></p>
            <hr><p>
            <h4>DUBDI MONASTERY </h4>
                This was the first Monastery established soon after the consecration ceremony of the first Chogyal. The
                monastery is located on a hilltop above Yuksom surrounded by verdant forests. One can reach the
                Monastery by walking through steep slopes. It takes about half an hour from the Yuksom town. It is an
                ideal place for meditation. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>PHAMRONG WATERFALLS </h4>
                Located between Yuksom and Gerethang this highest waterfall of West Sikkim presents a magnificent
                scenario especially during monsoons. A gentle gradient footpath takes one to a viewpoint for a closer
                view of this cascading waterfall. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>SHIV MANDIR, LEGSHIP </h4>
                Also known as Kirateshwar Mahadev Temple, it is situated on the banks of the beautiful Rangit River. A
                foot suspension bridge takes the devotees to its attractive location. People from all over the State
                visit his holy place of eminence. According to the popular belief, whosesoever worships here will earn
                virtues of two life times. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>TASHIDING MONASTERY </h4>
                This Monastery is constructed on top of a heart shaped hill with the backdrop of the sacred Mt.
                Khang-chen-Dzonga. According to Buddhist scriptures, Guru Padma-Sambhava blessed the sacred land of
                Sikkim in the 8th century AD from this spot. Ngadak Sempa Chempo, one of the three lamas who had
                performed the consecration ceremony of the first Chogyal, however, built the Monastery, in the 18th
                century AD. Tashiding is also famous for the most holy Chorten known as “Thonmg-WaRang-Dol” which
                literally means ‘ Saviours by mere sight’. The Tashiding Monastery holds a unique and significant water
                ritual every year on the 14th and 15th day of the first Lunar month. This is known as the “Bhumchu
                Ceremony”. The devotees come from far and wide to get the blessing of the holy water. The sacred holy
                water is officially sealed for safety by the lama of the Monastery. It is taken out once a year on this
                auspicious occasion, only to be put back with some fresh additions. The sacred water is distributed
                among the devotees.</p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>KONGRI LABDANG </h4>
                There are other attractions around Tashiding like Sinon Monastery, TsoNim-Dawa (Pokhri Danra), Hungri
                Monastery and Pao-Hungri. The Paha Khola which falls on the way to Kongri is worth visiting. The wild
                beehive on the side of the falls makes the site more interesting. It is also an important point for the
                trekkers visiting Kasturi Orar adjoining Khangchendzonga (Dzongri) Trail. One can also visit Jhang Lhari
                Nyingpo, one of the most sacred caves of Sikkim from Labdang. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>BARSEY </h4>
                It lies at an elevation of 10000 ft. It has a road access from Hilley. An easy four kms trek from there
                takes one up to the Barsey Rhododendron Sanctuary, which is in bloom from March to April. One can also
                trek from Soreng and Dentam. The place provides a magnificent view of the mountains. Visitors can halt
                at `Guras Kunj` trekkers hut.</p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>RINCHENPONG- KALUK </h4>
                Situated at an altitude of 1700 meters, the drive from Gangtok to Rinchenpong takes about four hours via
                Zoom. It is also accessible from Siliguri and Darjeeling. It is a picturesque village with a beautiful
                landscape and a panoramic view of Khang-chen-Dzong. A visit to Resum Monastery can be a memorable
                experience. One can also trek to Jhandi Dara/Melanpso, a rich forest area known to be the home of
                various species of wild animals and birds. Accommodation is available at Kaluk and Rinchenpong. Visitors
                can spend a night in the old Guest House or the newly built Resort </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>SRIJUNGA FOOKU &amp; WADHAN (CAVE) </h4>
                In this 2 km trek from Sirijunga Yuma Mangheem, one comes across a waterfall beside which lies a cave
                where Tyeongshi is reported to have taken refuge. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>BAJRATEY DEVITHAN AND HOLY CAVE </h4>
                Jeepable road leads from Dentam to Khandu School and a walk of 1 km leads one to a sacred groove and
                holy cave called Bajratey Devithan. It is a 40 ft. deep tunnel with stone steps where people of
                surrounding areas gather and perform pujas. <br>

            <p class="clearfix"></p>
            <hr>
            </p>
            <p> <h4>TEENCHANGAY (THREE TIER) FALLS (7200 ft.) </h4>
                This beautiful waterfall is situated between the Hee Khola and Bhalukhop. Each step has a height of
                about 300-400 ft. with clear visibility of all the three falls from one point. It is fascinating and
                worth a visit.</p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>JOR POKHARI (TWIN LAKE- 8200 ft.) </h4>
                This beautiful tourist spot is situated 11kms away from Nunthaley between Barsey and Nunthaley. Water
                remains in both lakes have diameter of around 1km. There is a temple for the devotees to offer prayers.
                Since Sikkim is home to some of the most rare and unique species of birds and butterflies, this is the
                best place for bird watching activity. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>DENTAM VALLEY (4800 ft.) </h4>
                About half an hour drive from the Hee village towards Uttarey is the attractive village of Dentam with a
                bird’s-eye view from Gurasey Dara (Rhododendron forest). The word Dentam comes from the word’ TEN-NRM’,
                which means a flat terraced land in the Limboo language. This valley is located in a very unique
                topography. An ancient and a holy Japla Devi Mandir and Durga Mandir, including one Shiva Mandir lies in
                the heart of Dentam bazaar to guard and bless the people. This beautiful valley is well known for the
                Alpine Gouda Cheese Factory, a producer of Indo-Swiss collaboration. </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>SINGSHORE BRIDGE, (6500 ft.) </h4>
                198m in length and 220m in depth, this bridge is located in the mid-way to Uttarey from Dentam. The
                SINGSHORE BRIDGE is the Second highest suspension bridge in Asia and the first of its kind in Sikkim
                connecting Dentam to Uttarey. It connects the two beautiful villages where homestay facilities are
                available. Singshore Bridge has been specified and declared as a special spot for the BUNGEE JUMPING,
                which is a unique and a new discipline in the field of adventure tourism. It is the FIRST in the State.
            </p>

            <p class="clearfix"></p>
            <hr>
            <p> <h4>UTTAREY VALLEY (7600 ft.) </h4>
                Five hours drive from Gangtok, Bagdogra/NJP/Siliguri, three hours from Darjeeling and Kalimpong and one
                a half hours from Pelling, Uttarey in West Sikkim is a base camp of adventure tourism for the Singalila
                Range Tenzing- Hillary Ecotourism Trekking Trail towards Khang-chen-Dzonga. Located on the lap of the
                Singhalila Range, Phokrey Dara and Neydham, Uttarey is a small but beautiful and a virgin paradise on
                earth set amidst the pristine valley. It is surrounded by hilltops, waterfalls, frothing rivers,
                evergreen forest, medicinal herbs and mountain hamlets. Apart from hotels and resorts, it has three
                beautiful home stay villages for nature lovers, trekkers, adventure and cultural heritage seekers. <br>
                1. Bandukey Limboo Tribal Heritage Village, <br>
                2. Sherpa Gaon Tribal Heritage Village, and <br>
                3. Ferek Lepcha Tribal Heritage Village<br>
                MAAINIBAAS FALL-UTTAREY (7900 ft.) <br>
                Isolated inside the lush green Rhododendron and oak forest, cascading from the height of nearly 250m,
                Mainibaas is a sacred Hidden Heavenly Falls. The freshness of the air in the area is unsurpassed. On the
                right side of these falls and at the equal height there is a huge overhanging cliff where there are
                plenty of wild beehives. “Main” in local language means wax and “baas” means the place to stay. In the
                olden days the local people of the area used to adorn themselves by applying bee wax on their beard and
                hair. This is also an ideal habitat for number of birds both local and migratory and their chirping in
                the morning adds value to this Maainibaas Falls. Diversity of flora is also amazing with plenty of wild
                animals like the Himalayan Black Bear, Red Panda (The State animal) Serow, Ghoral, Barking Deer, Yellow
                Throated Martin, Himalayan Palm Civet, Large Indian Civet, Leopard and Hairy Brown Squirrel. </p>
            <p class="clearfix"></p>
            <hr>
            <h3>PLACES OF TOURIST INTEREST (NORTH SIKKIM)</h3>
            <p>
            <h4>KABI LUNGCHOK </h4>
                This historical place is 17 kms form Gangtok on the north Sikkim Highway. This is where the historical
                Treaty of Brotherhood between the Lepcha Chief Te-Kung-Tek and the Bhutia Chief Key-Bum-Sa was signed. A
                memorial stone pillar amidst the cover of dense forest marks the spot where the ceremony took place.
            </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>SEVEN SISTERS WATERFALLS </h4>
                It is located 32 kms away from Gangtok on the North Sikkim Highway. To facilitate the tourist to savor
                the pristine beauty and to be with nature, the Tourism Department has set up a waiting shed and a
                cafeteria where visitors can take a break. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>YUMTHANG VALLEY OF FLOWERS </h4>
                Yumthang, at an elevation of 11,800 ft., and 140 kms from Gangtok is a paradise for nature lovers, with
                a marvelous blend of flora &amp; fauna, hot-springs and breathtaking scenic grandeur. The valley is also
                the home of Shingbha Rhododendron Sanctuary having 24 species of Rhododendrons. Shivmandir and Yuma
                Samdong. Located close by are equally fascinating spots.The travel agents registered with the Department
                of Tourism, Government of Sikkim, organize Yumthang package tours.</p>
            <p class="clearfix"></p>
            <hr>
            <p>
            <h4>SINGHIK </h4>
                The place offers one of the most spectacular and close views of Mt. Khang-chen-dzonga and its ranges. A
                well-located tourist lodge provides accommodations for visitors. The area also has a number of
                interesting short nature trials for one to three days along the higher ridges of the surrounding hills.
                One can also view the most graceful peak in the world, Mt. Siniolchu. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>CHUNGTHANG </h4>
                Chungthang, located near the confluence of Lachen Chu and Lachung Chu and the starting point of river
                Teesta, has emerged as a major sub-divisional town of North Sikkim. It is the nodal junction for the two
                hisotoric passes, Lachen and Lanchung. The valley is believed to have been blessed by Guru Padmasambhava
                and one can visit the Holy Guru Lhedo to see his footprints. It is rich in bio-diversity with a variety
                of orchids and plants. It is 95 kms from Gangtok. The magnificent Bema Water falls can be seen 15 kms
                away, on the way to Lachung. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>LACHUNG </h4>
                It is a village at a height of 8000 ft. It provides excellent village tourism facilities. Lachung has
                emerged as a tourist destination with the soaring popularity of Yumthang Valley, which is just 25 kms
                away. The village, spread out on either side of Lachung Chu, has managed to retain its unique culture
                and tradition. The Lachung Monastery on the slope opposite the highway is a focal point of all religious
                functions of the local inhabitants. To get a glimpse of the religious functions performed on auspicious
                occasions, a visit to the Monastery should be part of the tour itinerary.</p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>LACHEN </h4>
                Lachen is situated at an altitude of 2750 mtrs. It is about five and half hours drive from Gangtok. The
                Lachen Monastery located on top of the village commands a panoramic view of surrounding hills and
                countryside. Resorts, Hotels and Lodge are available for accommodation. <br>
                Tarun Hotsprings, 8 kms by road from Chungthang and 4 kms of trek, on the way to Lachen is highly
                recommended for a visit. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>THANGU </h4>
                Thangu, situated at an altitude of 13,500 ft. is about two hours drive from Lachen. It is a small
                village where the visitors usually acclimatize before they proceed to Guru-Dongmar Lake, Muguthang or
                Cho Lhamu (source of river Teesta). </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>GURU DONGMAR LAKE (17,700 ft.) </h4>
                It is considered as one of the sacred lakes of the state both by the Buddhists and the Hindus. The lake
                remains milky in color throughout the year and it is believed that Guru Padmasambhava blessed this lake
                while returning from Tibet. A portion of lake doesn’t freeze even in the most extreme winter season.</p>

            <p class="clearfix"></p>
            <hr>
            <h3>PLACES OF TOURIST INTEREST (SOUTH SIKKIM)</h3>
            <p>
            <h4>SIDDHESHVARA DHAM, SOLOPHOK </h4>
                Located about 5kms from Namchi on top of the Solokhop hill Siddheshvara Dham is a unique Pilgrim Center.
                The entire complex is divided into four main elements (1) A 108’ tall statue of Lord Shiva with 12
                jyotirlingas. (2) Replicas of four dhams, Badrinath, Jaganath and Dwarka dedicated to Lord Vishnu and
                Rameshwar to Lord Shiva. (3) Sai Baba Temple and (4) Krateswar statue beside Nandi Bull, Sai Dwar, Sai
                Temple, Kirat Dwar, Shiv Dwar all offer one platform for devotees. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>NAMCHI </h4>
                Namchi, meaning ‘Sky High’ is nestled among the hills at an elevation of 4400 ft. The town provides a
                panaromic view of the snow-capped mountains and the vast stretches of the valley. It is about 78 kms
                from Gangtok and 100 kms from Siliguri. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>ROCK GARDEN </h4>
                Located between Namchi town and Samdruptse, this popular garden has many attractive plants, flowers and
                species of trees. A number of waiting sheds; viewpoints and water bodies along its footpath. Tourists
                and locals both visit the Rock Garden in huge numbers.</p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>TATHAGATA TSAL (BUDDHA PARK) RABONG </h4>
                To commemorate the 2550th Birth Anniversary of Lord Gautama Buddha the State Government decided to
                construct and install a statue of Lord Buddha at Rabong. The statue of Lord Buddha, in ‘ Dharma Chakra’
                mudra, is 135 feet tall including the throne. The statue is made of copper with gold plating. The
                complex includes a congregation hall, which can accommodate more than 1500 people in landscaped garden,
                souvenir shops, cafeteria etc.</p>
            <p class="clearfix"></p>
            <hr>
            <p>
            <h4>RABONG </h4>
                At the base of Maenam Hill is Rabong, a sub-divisional headquarter and transit point for beautiful spots
                such as Chozo Lake, Ralong Monastery, Manilakhang, Sakyamuni Cultural and Pilgrimage Centre and various
                tourist destinations of South Sikkim. It has a Tourist Base camp for trekkers to Maenam Hill and Borong
                hot spring. One can get accommodation suitable for all budgets and enjoy numerous short nature trials as
                well. A trek down to the sacred cave ‘ Shar Chok Bhepu’, one of the four holiest caves in Sikkim, would
                be a memorable experience. A number of tourist amenities have been recently provided at Sangmoo
                Monastery and located close to Rabong. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>TENDONG HILL </h4>
                Above Damthang, overlooking Namchi, there is a small flat stretch of land at an altitude of 8,530 ft.
                surrounded by lush green forest, which is popularly known as Tendong Hill. Historically, this was the
                place to rest for the Buddhist Lamas who spent years in meditation amidst the silent scenic grandeur.
                Legend has it that Tendong Hill saved the Lepcha tribe from the ravages of deluge when the whole world
                was flooded- similar to Noah’s Ark of the Bible. Even today, the Lepchas perform Pujas to pay reverence
                to the Tendong Hill on the occasion of Tendong Lho Rham Faat. The view from the top of the Tendong Hill
                is something to be cherished and enjoyed as it spans across the plains of Bengal to the majestic heights
                of the Himalayan Ranges. Trek to Tendong from Damthang Bazar, the nearest road head, is just about two
                hours. One can also proceeds to Namchi by trekking via Tendong Hill. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>SAMDRRUPSTE </h4>
                72 kms from Gangtok near Namchi in South Sikkim is Samdrupste, which means “The Wish Fulfilling Hill”. A
                135 ft. statue of Padmasambhava is installed at the top of Samdruptse. His Holiness the Dalai Lama laid
                the foundation stone of the statue on 22th October, 1997. It is said to be the highest statue of Guru
                Padmasambhava in the world.</p>
            <p class="clearfix"></p>
            <hr>
            <p>
            <h4>TEMI TEA GARDEN</h4>
                The one and only tea estate in the state produces one of the top quality teas for the international
                market. The tea garden spread out on a gentle hill slope originating from Tendong Hill provides a
                magnificent view of the surrounding villages. The visit to the factory could be an eye opener for those
                wanting to know about tea processing methods. A visit to the garden, en route to Tendong Hill, could be
                a rewarding experience for those who want to combine nature and culture. Temi Tea Garden is the tea
                estate which produces a high quality organic tea in the country.</p>
            <p class="clearfix"></p>
            <hr>
            <p>
            <h4>YUNG DRUNG KUNGDRAKLING: BON MONASTERY </h4>
                The ancient roots of Bon religion grew from a profound respect for nature and emphasize the healing of
                physical, natural and spiritual environments. While the origins of the ancient culture have been traced
                back to pre historic times, current Bonpo followers practice a living doctrine dedicated to perpetuating
                the teaching of their founder Lord Tonpa Shenrab, who occupies a prominent position in Bon culture as
                Yungdrung Bon or tradition of Eternal Wisdom, they include the nine ways of Bon that outlines the laws
                of cause and effect on the path to spiritual liberation. Today Bon Monasteries though the Himalayan
                region continue to serve as an integral part of their community’s spiritual life. </p>
            <p class="clearfix"></p>
            <hr>
            <p> <h4>SRI SRIDI SAI BABA MANDIR </h4>
                Sikkim is blessed with an outstanding Sri Shridi Sai Baba Temple situated is Assanthang, a couple of
                kilometers away from the district headquarters of Namchi. The temple is a religious and pilgrimage
                center dedicated to the people of Sikkim. <br>
                It is a two storied building displaying the modern architecture; the ground floor accommodates devotees
                for singing hymns in praise of Shridi Baba and the first floor provides dwelling to the marble statue of
                Sri Shridi Sai Baba and ten other beautiful paintings of Lord Vishnu (Hindu God) in ten different
                incarnations. The temple is surrounded by a beautiful garden from where one could get a panoramic view
                of Mt. Khangchendzonga. </p>
        </div>
    </div>
{% endblock %}